// Variables
$xs-breakpoint: 600px !default;
$sm-breakpoint: 768px !default;
$md-breakpoint: 900px !default;
$lg-breakpoint: 1200px !default;
$grid-number: 12 !default;
// Mixins
@mixin clear {
    &::after, &::before{
        clear: both;
        display: table;
        content: '';
    }
};
@mixin media($value: $md-breakpoint, $prop: 'min-width') {
    @media only screen and ( unquote($prop): $value ){
        @content;
    }
};
//Functions
@function calc-grid($n) {
    @return $n*100%/$grid-number;
}

body{
    margin: 0;
}

.oz-container-f{
    display: block;
    @include clear;
    min-height: 1px;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
}

.oz-container{
    @extend .oz-container-f;
    margin-right: auto;
    margin-left: auto;
    @include media($xs-breakpoint){
        width: calc(#{$xs-breakpoint} - 30px);
    }
    @include media($sm-breakpoint){
        width: calc(#{$sm-breakpoint} - 30px);
    }
    @include media(){
        width: calc(#{$md-breakpoint} - 30px);
    }
    @include media($lg-breakpoint){
        width: calc(#{$lg-breakpoint} - 30px);
    }
}

.oz-col{
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    @include clear;
    position: relative;
    // `xs` columns
    // It's the first breakpoint, so it doen'nt need media query
    @for $i from 0 through $grid-number{
        &.xs-#{$i}{
            width: calc-grid($i)
        }
        &.xs-fw-#{$i}{
            left: calc-grid($i)
        }
        &.xs-bw-#{$i}{
            right: calc-grid($i)
        }
    }
    @for $i from 0 through $grid-number{
        @include media($sm-breakpoint){
            &.sm-#{$i}{
                width: calc-grid($i)
            }
            &.sm-fw-#{$i}{
                left: calc-grid($i)
            }
            &.sm-bw-#{$i}{
                right: calc-grid($i)
            }
        }
    }
    @for $i from 0 through $grid-number{
        @include media($md-breakpoint){
            &.md-#{$i}{
                width: calc-grid($i)
            }
            &.md-fw-#{$i}{
                left: calc-grid($i)
            }
            &.md-bw-#{$i}{
                right: calc-grid($i)
            }
        }
    }
    @for $i from 0 through $grid-number{
        @include media($lg-breakpoint){
            &.lg-#{$i}{
                width: calc-grid($i)
            }
            &.lg-fw-#{$i}{
                left: calc-grid($i)
            }
            &.lg-bw-#{$i}{
                right: calc-grid($i)
            }
        };
    }
}

@each $unit in 'em', 'rem', 'px'{
    @for $i from 1 through 10{
        .oz-p-#{$i}#{$unit} {
            padding: #{$i}#{$unit}
        }
        .oz-pt-#{$i}#{$unit} {
            padding-top: #{$i}#{$unit}
        }
        .oz-pb-#{$i}#{$unit} {
            padding-bottom: #{$i}#{$unit}
        }
        .oz-pl-#{$i}#{$unit} {
            padding-left: #{$i}#{$unit}
        }
        .oz-pr-#{$i}#{$unit} {
            padding-right: #{$i}#{$unit}
        }
        .oz-m-#{$i}#{$unit} {
            margin: #{$i}#{$unit}
        }
        .oz-mt-#{$i}#{$unit} {
            margin-top: #{$i}#{$unit}
        }
        .oz-mb-#{$i}#{$unit} {
            margin-bottom: #{$i}#{$unit}
        }
        .oz-ml-#{$i}#{$unit} {
            margin-left: #{$i}#{$unit}
        }
        .oz-mr-#{$i}#{$unit} {
            margin-right: #{$i}#{$unit}
        }
        @include media($sm-breakpoint){
            .oz-sm-p-#{$i}#{$unit} {
                padding: #{$i}#{$unit}
            }
            .oz-sm-pt-#{$i}#{$unit} {
                padding-top: #{$i}#{$unit}
            }
            .oz-sm-pb-#{$i}#{$unit} {
                padding-bottom: #{$i}#{$unit}
            }
            .oz-sm-pl-#{$i}#{$unit} {
                padding-left: #{$i}#{$unit}
            }
            .oz-sm-pr-#{$i}#{$unit} {
                padding-right: #{$i}#{$unit}
            }
            .oz-sm-m-#{$i}#{$unit} {
                margin: #{$i}#{$unit}
            }
            .oz-sm-mt-#{$i}#{$unit} {
                margin-top: #{$i}#{$unit}
            }
            .oz-sm-mb-#{$i}#{$unit} {
                margin-bottom: #{$i}#{$unit}
            }
            .oz-sm-ml-#{$i}#{$unit} {
                margin-left: #{$i}#{$unit}
            }
            .oz-sm-mr-#{$i}#{$unit} {
                margin-right: #{$i}#{$unit}
            }
        };
        @include media($md-breakpoint){
            .oz-md-p-#{$i}#{$unit} {
                padding: #{$i}#{$unit}
            }
            .oz-md-pt-#{$i}#{$unit} {
                padding-top: #{$i}#{$unit}
            }
            .oz-md-pb-#{$i}#{$unit} {
                padding-bottom: #{$i}#{$unit}
            }
            .oz-md-pl-#{$i}#{$unit} {
                padding-left: #{$i}#{$unit}
            }
            .oz-md-pr-#{$i}#{$unit} {
                padding-right: #{$i}#{$unit}
            }
            .oz-md-m-#{$i}#{$unit} {
                margin: #{$i}#{$unit}
            }
            .oz-md-mt-#{$i}#{$unit} {
                margin-top: #{$i}#{$unit}
            }
            .oz-md-mb-#{$i}#{$unit} {
                margin-bottom: #{$i}#{$unit}
            }
            .oz-md-ml-#{$i}#{$unit} {
                margin-left: #{$i}#{$unit}
            }
            .oz-md-mr-#{$i}#{$unit} {
                margin-right: #{$i}#{$unit}
            }
        };
        @include media($lg-breakpoint){
            .oz-lg-p-#{$i}#{$unit} {
                padding: #{$i}#{$unit}
            }
            .oz-lg-pt-#{$i}#{$unit} {
                padding-top: #{$i}#{$unit}
            }
            .oz-lg-pb-#{$i}#{$unit} {
                padding-bottom: #{$i}#{$unit}
            }
            .oz-lg-pl-#{$i}#{$unit} {
                padding-left: #{$i}#{$unit}
            }
            .oz-lg-pr-#{$i}#{$unit} {
                padding-right: #{$i}#{$unit}
            }
            .oz-lg-m-#{$i}#{$unit} {
                margin: #{$i}#{$unit}
            }
            .oz-lg-mt-#{$i}#{$unit} {
                margin-top: #{$i}#{$unit}
            }
            .oz-lg-mb-#{$i}#{$unit} {
                margin-bottom: #{$i}#{$unit}
            }
            .oz-lg-ml-#{$i}#{$unit} {
                margin-left: #{$i}#{$unit}
            }
            .oz-lg-mr-#{$i}#{$unit} {
                margin-right: #{$i}#{$unit}
            }
        };
    }
}


@each $display in block, inline-block, flex, inline-flex, table, table-cell, inline, none{
    .oz-d-#{$display}{
        display: $display
    }
    @include media($sm-breakpoint){
        .oz-sm-d-#{$display}{
            display: $display
        }
    }
    @include media($md-breakpoint){
        .oz-md-d-#{$display}{
            display: $display
        }
    }
    @include media($lg-breakpoint){
        .oz-lg-d-#{$display}{
            display: $display
        }
    }
};
