body {
  margin: 0;
}

.oz-container-f, .oz-container {
  display: block;
  min-height: 1px;
  box-sizing: border-box;
  padding-right: 15px;
  padding-left: 15px;
}
.oz-container-f::after, .oz-container::after, .oz-container-f::before, .oz-container::before {
  clear: both;
  display: table;
  content: '';
}

.oz-container {
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (min-width: 600px) {
  .oz-container {
    width: calc(600px - 30px);
  }
}
@media only screen and (min-width: 768px) {
  .oz-container {
    width: calc(768px - 30px);
  }
}
@media only screen and (min-width: 900px) {
  .oz-container {
    width: calc(900px - 30px);
  }
}
@media only screen and (min-width: 1200px) {
  .oz-container {
    width: calc(1200px - 30px);
  }
}

.oz-col {
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.oz-col::after, .oz-col::before {
  clear: both;
  display: table;
  content: '';
}
.oz-col.xs-0 {
  width: 0%;
}
.oz-col.xs-fw-0 {
  left: 0%;
}
.oz-col.xs-bw-0 {
  right: 0%;
}
.oz-col.xs-1 {
  width: 8.33333%;
}
.oz-col.xs-fw-1 {
  left: 8.33333%;
}
.oz-col.xs-bw-1 {
  right: 8.33333%;
}
.oz-col.xs-2 {
  width: 16.66667%;
}
.oz-col.xs-fw-2 {
  left: 16.66667%;
}
.oz-col.xs-bw-2 {
  right: 16.66667%;
}
.oz-col.xs-3 {
  width: 25%;
}
.oz-col.xs-fw-3 {
  left: 25%;
}
.oz-col.xs-bw-3 {
  right: 25%;
}
.oz-col.xs-4 {
  width: 33.33333%;
}
.oz-col.xs-fw-4 {
  left: 33.33333%;
}
.oz-col.xs-bw-4 {
  right: 33.33333%;
}
.oz-col.xs-5 {
  width: 41.66667%;
}
.oz-col.xs-fw-5 {
  left: 41.66667%;
}
.oz-col.xs-bw-5 {
  right: 41.66667%;
}
.oz-col.xs-6 {
  width: 50%;
}
.oz-col.xs-fw-6 {
  left: 50%;
}
.oz-col.xs-bw-6 {
  right: 50%;
}
.oz-col.xs-7 {
  width: 58.33333%;
}
.oz-col.xs-fw-7 {
  left: 58.33333%;
}
.oz-col.xs-bw-7 {
  right: 58.33333%;
}
.oz-col.xs-8 {
  width: 66.66667%;
}
.oz-col.xs-fw-8 {
  left: 66.66667%;
}
.oz-col.xs-bw-8 {
  right: 66.66667%;
}
.oz-col.xs-9 {
  width: 75%;
}
.oz-col.xs-fw-9 {
  left: 75%;
}
.oz-col.xs-bw-9 {
  right: 75%;
}
.oz-col.xs-10 {
  width: 83.33333%;
}
.oz-col.xs-fw-10 {
  left: 83.33333%;
}
.oz-col.xs-bw-10 {
  right: 83.33333%;
}
.oz-col.xs-11 {
  width: 91.66667%;
}
.oz-col.xs-fw-11 {
  left: 91.66667%;
}
.oz-col.xs-bw-11 {
  right: 91.66667%;
}
.oz-col.xs-12 {
  width: 100%;
}
.oz-col.xs-fw-12 {
  left: 100%;
}
.oz-col.xs-bw-12 {
  right: 100%;
}
@media only screen and (min-width: 768px) {
  .oz-col.sm-0 {
    width: 0%;
  }
  .oz-col.sm-fw-0 {
    left: 0%;
  }
  .oz-col.sm-bw-0 {
    right: 0%;
  }
}
@media only screen and (min-width: 768px) {
  .oz-col.sm-1 {
    width: 8.33333%;
  }
  .oz-col.sm-fw-1 {
    left: 8.33333%;
  }
  .oz-col.sm-bw-1 {
    right: 8.33333%;
  }
}
@media only screen and (min-width: 768px) {
  .oz-col.sm-2 {
    width: 16.66667%;
  }
  .oz-col.sm-fw-2 {
    left: 16.66667%;
  }
  .oz-col.sm-bw-2 {
    right: 16.66667%;
  }
}
@media only screen and (min-width: 768px) {
  .oz-col.sm-3 {
    width: 25%;
  }
  .oz-col.sm-fw-3 {
    left: 25%;
  }
  .oz-col.sm-bw-3 {
    right: 25%;
  }
}
@media only screen and (min-width: 768px) {
  .oz-col.sm-4 {
    width: 33.33333%;
  }
  .oz-col.sm-fw-4 {
    left: 33.33333%;
  }
  .oz-col.sm-bw-4 {
    right: 33.33333%;
  }
}
@media only screen and (min-width: 768px) {
  .oz-col.sm-5 {
    width: 41.66667%;
  }
  .oz-col.sm-fw-5 {
    left: 41.66667%;
  }
  .oz-col.sm-bw-5 {
    right: 41.66667%;
  }
}
@media only screen and (min-width: 768px) {
  .oz-col.sm-6 {
    width: 50%;
  }
  .oz-col.sm-fw-6 {
    left: 50%;
  }
  .oz-col.sm-bw-6 {
    right: 50%;
  }
}
@media only screen and (min-width: 768px) {
  .oz-col.sm-7 {
    width: 58.33333%;
  }
  .oz-col.sm-fw-7 {
    left: 58.33333%;
  }
  .oz-col.sm-bw-7 {
    right: 58.33333%;
  }
}
@media only screen and (min-width: 768px) {
  .oz-col.sm-8 {
    width: 66.66667%;
  }
  .oz-col.sm-fw-8 {
    left: 66.66667%;
  }
  .oz-col.sm-bw-8 {
    right: 66.66667%;
  }
}
@media only screen and (min-width: 768px) {
  .oz-col.sm-9 {
    width: 75%;
  }
  .oz-col.sm-fw-9 {
    left: 75%;
  }
  .oz-col.sm-bw-9 {
    right: 75%;
  }
}
@media only screen and (min-width: 768px) {
  .oz-col.sm-10 {
    width: 83.33333%;
  }
  .oz-col.sm-fw-10 {
    left: 83.33333%;
  }
  .oz-col.sm-bw-10 {
    right: 83.33333%;
  }
}
@media only screen and (min-width: 768px) {
  .oz-col.sm-11 {
    width: 91.66667%;
  }
  .oz-col.sm-fw-11 {
    left: 91.66667%;
  }
  .oz-col.sm-bw-11 {
    right: 91.66667%;
  }
}
@media only screen and (min-width: 768px) {
  .oz-col.sm-12 {
    width: 100%;
  }
  .oz-col.sm-fw-12 {
    left: 100%;
  }
  .oz-col.sm-bw-12 {
    right: 100%;
  }
}
@media only screen and (min-width: 900px) {
  .oz-col.md-0 {
    width: 0%;
  }
  .oz-col.md-fw-0 {
    left: 0%;
  }
  .oz-col.md-bw-0 {
    right: 0%;
  }
}
@media only screen and (min-width: 900px) {
  .oz-col.md-1 {
    width: 8.33333%;
  }
  .oz-col.md-fw-1 {
    left: 8.33333%;
  }
  .oz-col.md-bw-1 {
    right: 8.33333%;
  }
}
@media only screen and (min-width: 900px) {
  .oz-col.md-2 {
    width: 16.66667%;
  }
  .oz-col.md-fw-2 {
    left: 16.66667%;
  }
  .oz-col.md-bw-2 {
    right: 16.66667%;
  }
}
@media only screen and (min-width: 900px) {
  .oz-col.md-3 {
    width: 25%;
  }
  .oz-col.md-fw-3 {
    left: 25%;
  }
  .oz-col.md-bw-3 {
    right: 25%;
  }
}
@media only screen and (min-width: 900px) {
  .oz-col.md-4 {
    width: 33.33333%;
  }
  .oz-col.md-fw-4 {
    left: 33.33333%;
  }
  .oz-col.md-bw-4 {
    right: 33.33333%;
  }
}
@media only screen and (min-width: 900px) {
  .oz-col.md-5 {
    width: 41.66667%;
  }
  .oz-col.md-fw-5 {
    left: 41.66667%;
  }
  .oz-col.md-bw-5 {
    right: 41.66667%;
  }
}
@media only screen and (min-width: 900px) {
  .oz-col.md-6 {
    width: 50%;
  }
  .oz-col.md-fw-6 {
    left: 50%;
  }
  .oz-col.md-bw-6 {
    right: 50%;
  }
}
@media only screen and (min-width: 900px) {
  .oz-col.md-7 {
    width: 58.33333%;
  }
  .oz-col.md-fw-7 {
    left: 58.33333%;
  }
  .oz-col.md-bw-7 {
    right: 58.33333%;
  }
}
@media only screen and (min-width: 900px) {
  .oz-col.md-8 {
    width: 66.66667%;
  }
  .oz-col.md-fw-8 {
    left: 66.66667%;
  }
  .oz-col.md-bw-8 {
    right: 66.66667%;
  }
}
@media only screen and (min-width: 900px) {
  .oz-col.md-9 {
    width: 75%;
  }
  .oz-col.md-fw-9 {
    left: 75%;
  }
  .oz-col.md-bw-9 {
    right: 75%;
  }
}
@media only screen and (min-width: 900px) {
  .oz-col.md-10 {
    width: 83.33333%;
  }
  .oz-col.md-fw-10 {
    left: 83.33333%;
  }
  .oz-col.md-bw-10 {
    right: 83.33333%;
  }
}
@media only screen and (min-width: 900px) {
  .oz-col.md-11 {
    width: 91.66667%;
  }
  .oz-col.md-fw-11 {
    left: 91.66667%;
  }
  .oz-col.md-bw-11 {
    right: 91.66667%;
  }
}
@media only screen and (min-width: 900px) {
  .oz-col.md-12 {
    width: 100%;
  }
  .oz-col.md-fw-12 {
    left: 100%;
  }
  .oz-col.md-bw-12 {
    right: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .oz-col.lg-0 {
    width: 0%;
  }
  .oz-col.lg-fw-0 {
    left: 0%;
  }
  .oz-col.lg-bw-0 {
    right: 0%;
  }
}
@media only screen and (min-width: 1200px) {
  .oz-col.lg-1 {
    width: 8.33333%;
  }
  .oz-col.lg-fw-1 {
    left: 8.33333%;
  }
  .oz-col.lg-bw-1 {
    right: 8.33333%;
  }
}
@media only screen and (min-width: 1200px) {
  .oz-col.lg-2 {
    width: 16.66667%;
  }
  .oz-col.lg-fw-2 {
    left: 16.66667%;
  }
  .oz-col.lg-bw-2 {
    right: 16.66667%;
  }
}
@media only screen and (min-width: 1200px) {
  .oz-col.lg-3 {
    width: 25%;
  }
  .oz-col.lg-fw-3 {
    left: 25%;
  }
  .oz-col.lg-bw-3 {
    right: 25%;
  }
}
@media only screen and (min-width: 1200px) {
  .oz-col.lg-4 {
    width: 33.33333%;
  }
  .oz-col.lg-fw-4 {
    left: 33.33333%;
  }
  .oz-col.lg-bw-4 {
    right: 33.33333%;
  }
}
@media only screen and (min-width: 1200px) {
  .oz-col.lg-5 {
    width: 41.66667%;
  }
  .oz-col.lg-fw-5 {
    left: 41.66667%;
  }
  .oz-col.lg-bw-5 {
    right: 41.66667%;
  }
}
@media only screen and (min-width: 1200px) {
  .oz-col.lg-6 {
    width: 50%;
  }
  .oz-col.lg-fw-6 {
    left: 50%;
  }
  .oz-col.lg-bw-6 {
    right: 50%;
  }
}
@media only screen and (min-width: 1200px) {
  .oz-col.lg-7 {
    width: 58.33333%;
  }
  .oz-col.lg-fw-7 {
    left: 58.33333%;
  }
  .oz-col.lg-bw-7 {
    right: 58.33333%;
  }
}
@media only screen and (min-width: 1200px) {
  .oz-col.lg-8 {
    width: 66.66667%;
  }
  .oz-col.lg-fw-8 {
    left: 66.66667%;
  }
  .oz-col.lg-bw-8 {
    right: 66.66667%;
  }
}
@media only screen and (min-width: 1200px) {
  .oz-col.lg-9 {
    width: 75%;
  }
  .oz-col.lg-fw-9 {
    left: 75%;
  }
  .oz-col.lg-bw-9 {
    right: 75%;
  }
}
@media only screen and (min-width: 1200px) {
  .oz-col.lg-10 {
    width: 83.33333%;
  }
  .oz-col.lg-fw-10 {
    left: 83.33333%;
  }
  .oz-col.lg-bw-10 {
    right: 83.33333%;
  }
}
@media only screen and (min-width: 1200px) {
  .oz-col.lg-11 {
    width: 91.66667%;
  }
  .oz-col.lg-fw-11 {
    left: 91.66667%;
  }
  .oz-col.lg-bw-11 {
    right: 91.66667%;
  }
}
@media only screen and (min-width: 1200px) {
  .oz-col.lg-12 {
    width: 100%;
  }
  .oz-col.lg-fw-12 {
    left: 100%;
  }
  .oz-col.lg-bw-12 {
    right: 100%;
  }
}

.oz-d-block {
  display: block;
}

.oz-d-inline-block {
  display: inline-block;
}

.oz-d-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.oz-d-inline-flex {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.oz-d-table {
  display: table;
}

.oz-d-table-cell {
  display: table-cell;
}

.oz-d-inline {
  display: inline;
}

.oz-d-none {
  display: none;
}
